@import "tailwindcss";

@font-face {
  font-family: "BIZTER";
  src: url("/font/BIZTER-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cica";
  src: url("/font/Cica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
