---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import background from "@/assets/background.svg";
import gitHubIcon from "@/assets/github.svg";
import logicaIcon from "@/assets/icon.webp";
import xIcon from "@/assets/x.png";
---

<div class="font-[BISTER] h-full">
  <Picture
    src={background}
    alt="background"
    class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
  />
  <main class="h-full flex justify-center">
    <section class="flex items-center flex-col justify-center">
      <Image
        src={logicaIcon}
        width="100"
        height="100"
        alt="logica Icon"
        class="mb-1"
      />
      <h1 class="text-[22px] mt-1">🚧 Under Construction 🚧</h1>
      <section class="flex gap-4 flex-wrap md:flex-nowrap">
        <a
          class="flex items-center px-3 py-2.5 md:px-[10px] md:py-[10px] text-white bg-gradient-to-r from-[#3245ff] to-[#bc52ee] rounded-[10px] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),inset_0_-3px_0_rgba(0,0,0,0.24)] hover:text-[rgb(230,230,230)] hover:shadow-none transition-all"
          href="https://github.com/logica0419"
        >
          <Image src={gitHubIcon} width="20" height="20" alt="GitHub" />
        </a>
        <a
          class="flex items-center px-3 py-2.5 md:px-[10px] md:py-[10px] text-white bg-gradient-to-r from-[#3245ff] to-[#bc52ee] rounded-[10px] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),inset_0_-3px_0_rgba(0,0,0,0.24)] hover:text-[rgb(230,230,230)] hover:shadow-none transition-all"
          href="https://x.com/logica0419"
        >
          <Image src={xIcon} width="20" height="20" alt="X" />
        </a>
      </section>
    </section>
  </main>
</div>
